@import "../../../assets/stylesheets/colors.scss";
@import "../../../assets/stylesheets/media_queries.scss";
@import "../../../assets/stylesheets/mixins.scss";

* {
  margin: 0;
  padding: 0;
}

a, a:visited, a:active, a:hover, a:hover {
  text-decoration: none;
  color: $color-nevada;
}

.main-template{
  background-color: $color-white;

  @include respond-above(md) {
    @include flex-display($flex-flow: row nowrap, $justify-content: flex-start);
  }

  &__content-wrapper {
    width: 100%;
    list-style: none;
    height: 90vh;

    @include respond-above(md) {
      height: 100%;
    }

    .main-template__content {
      display: flex;
      flex-flow: column nowrap;
      justify-content: center;
      align-items: center;
      height: 100%;
    }
  }
}
