@import "../../../assets/stylesheets/colors.scss";

#landing {
  width: 100%;
  height: 100%;

  >.header {
    background: url("../../../assets/images/pexels-photo-949587.jpeg") no-repeat center;
    height: 30vh;
    width: 100%;
  }

  >.round-image {
    width: 20%;
    height: 20%;
    min-width: 100px;
    min-height: 100px;
    margin: auto;

    >.round {
      border-radius: 50%;
      margin-top: -50%;
      border: 5px solid $color-white;
    }
  }

  >.information {
    display: flex;
    flex-flow: column;
    align-items: center;
    justify-content: center;
    margin: 10vh;
    text-align: center;

    >.description {
      margin: 10vh 20vw;
      min-width: 400px;
    }

    >.contacts {
      width: 20%;
      display: flex;
      flex-flow: row;
      justify-content: space-evenly;
    }
  }
}
