@import "../../../assets/stylesheets/colors.scss";
@import "../../../assets/stylesheets/mixins.scss";

.default_card {
  @include flex-display($flex-flow: column nowrap, $justify-content: space-around);
  border-radius: 5px;
  border: 1px solid $color-moon-mist;
  color: $color-nevada;

  * {
    @include flex-display($flex-flow: column nowrap, $justify-content: space-evenly);
    text-align: center;
    height: 100%;
    width: 100%;
  }

  img {
    max-width: 85%;
  }
}

.default_card:hover {
  box-shadow: 0px 3px 3px 0px rgba(157,180,192,1);
}
