@import "../../../assets/stylesheets/mixins.scss";
@import "../../../assets/stylesheets/media_queries.scss";

.talks-wrapper {
    display: flex;

  .talks-content{
    width: 100%;
    height: 100%;
    list-style: none;
    @include flex-display($flex-flow: column, $justify-content: space-around);

    @include respond-above(md) {
      height: 100%;
      @include flex-display($flex-flow: column wrap, $justify-content: space-around);

    }

    li {
      margin: 20px;
      @include flex-display($flex-flow: column, $justify-content: space-around);

      @include respond-between(xs, md) {
        @include flex-display($flex-flow: row wrap, $justify-content: space-around);
      }

      @include respond-above(md) {
        @include flex-display($flex-flow: row, $justify-content: space-evenly);
        width: 90%;
        margin: 20px 0;
      }

      .talk-description {
        text-align: justify;
        margin: 20px;
      }
    }
  }
}
