@import "../../../assets/stylesheets/colors.scss";
@import "../../../assets/stylesheets/media_queries.scss";
@import "../../../assets/stylesheets/mixins.scss";

.header {
  background: url("../../../assets/images/pexels-photo-949587.jpeg") no-repeat center;
  /*https://www.pexels.com/*/
  width: 100%;

  @include respond-below(sm) {
    height: 30vh;
  }

  @include respond-between(sm, md){
    height: 25vh;
  }

  @include respond-above(md){
    height: 25vh;
  }
}

.round_image {
  width: 20%;

  @include respond-below(md) {
    width: 40%;
  }

  .round_border {
    border-radius: 50%;
    margin-top: -50%;
    border: 5px solid $color-white;
  }
}

.identification, .description {
  text-align: center;
  margin: 0 20vw;
}

.identification {
  font-size: larger;
  font-weight: bold;
}

.contacts {
  @include flex-display($justify-content: space-evenly);
  width: 30%;

  @include respond-below(sm) {
    width: 50%;
  }
}
