@import "../../../assets/stylesheets/colors.scss";
@import "../../../assets/stylesheets/media_queries.scss";
@import "../../../assets/stylesheets/mixins.scss";

.header {
  display: none;
}

.round_image {
  margin: 0 auto ;
  width: 150px;

  @include respond-below(md) {
    width: 80px;
    display: none;
  }

  .round_border {
    border-radius: 50%;
    border: 3px solid $color-white;
  }
}

.identification {
  margin: 30px auto;
  font-size: larger;
  font-weight: bold;

  @include respond-below(md) {
    padding: 0 10px;
  }
}

.description {
  margin: 20px;

  @include respond-below(md) {
    display: none;
  }
}

.contacts {
  @include flex-display($justify-content: space-evenly, $flex-flow: row);

  @include respond-below(md) {
    flex-flow: column;
  }
}
