@import "../../../assets/stylesheets/colors.scss";
@import "../../../assets/stylesheets/mixins.scss";
@import "../../../assets/stylesheets/media_queries.scss";


.side-bar-menu {
  border-radius: 0 0 5px  5px ;

  @include respond-below(sm) {
    @include flex-display($flex-flow: row nowrap);
    width: 100%;
    height: 10vh;
    min-height: 30px;
  }

  @include respond-between(sm, md) {
    @include flex-display($flex-flow: row nowrap);
    width: 100%;
    height: 20vh;
  }

  @include respond-above(md) {
    width: 25%;
    height: 100vh;
    border-radius: 0 5px 5px 0;
  }

  .side-bar-menu__nav {
    height: 100%;
    width: 100%;

    @include respond-above(md) {
      height: 100vh;
    }

    .main-menu__wrapper {
      @include flex-display($flex-flow: row nowrap);
      background-color: $color-manhattan;
      list-style: none;
      height: 100%;
      width: 100%;

      @include respond-above(md) {
        @include flex-display($flex-flow: column nowrap);
      }

      .menu-item__wrapper {
        @include flex-display($flex-flow: column);
        width: 100%;
        height: 100%;

        @include respond-above(md) {
          height: 25%;
          flex-flow: row nowrap;
          border-bottom: 2px solid linear-gradient(to right, #9DB4C0, #ffffff);
        }

        .menu-item__content {
          @include flex-display();
          text-transform: uppercase;
          text-decoration: none;
          letter-spacing: 0.1em;

          @include respond-between(sm, md) {
            letter-spacing: 0.25em;
          }

          @include respond-above(md) {
            letter-spacing: 0.4em;
            font-weight: bold;
          }
        }
      }

    }
  }
}
